html,
body,
body > div:first-child,
div#__next,
div#__next > div:first-child {
  height: 100%;
}

body{
  margin: 0;
  height: 100%;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color: #008080;
}

.window {
  position: absolute;
}

.inactive {
  background: linear-gradient(90deg,grey,#b5b5b5);
}

.title-bar-text{
  margin-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.taskbar-container {
  border-top: 1px solid;
  height: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
  background-color: silver;
  border-color: #dfdfdf;
  box-shadow: inset 0 1px 0 0 #fff;
  justify-content: space-between;
}

.taskbar-left{
  display: flex;
  align-items: center;
  padding-left: 5px;
  position: relative;
}

.taskbar-center{
  display: flex;
  align-items: center;
  width: 100%;
  gap: 4px;
}

.taskbar-right{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  padding: 4px;
  width: 80px;
}

.taskbar-status{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  box-shadow: inset -1px -1px #dfdfdf, inset 1px 1px grey;
  width: 48px;
}

.taskbar-seperator{
  width: 1px;
  height: 90%;
  background-color: #dfdfdf;
  box-shadow: inset -1px -1px #dfdfdf, inset 1px 1px grey;
  margin-right: 4px;
}

.taskbar-program{
  display: flex;
  align-items: center;
  padding: 0;
  padding-left: 6px;
  padding-right: 6px;
}

.taskbar-program:not(:disabled):active {
  padding: 0;
  padding-left: 6px;
  padding-right: 6px;
}

.taskbar-program-active:not(:disabled):active {
  padding: 0;
  padding-left: 6px;
  padding-right: 6px;
}

.taskbar-program-active{
  display: flex;
  align-items: center;
  box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
  font-weight: 700;
  padding: 0;
  padding-left: 6px;
  padding-right: 6px;
}

.taskbar-program-title{
  margin-left: 4px;
}

.program-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  padding: 12px;
}

.program{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  box-shadow: none;
  height: 64px;
  width: 64px;
  min-width: 64px;
  padding: 0px;
}

.program:not(:disabled):active {
  background-color: transparent;
  box-shadow: none;
  padding: 0;
}

.program-title{
  margin-top: 4px;
}

.start-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 4px;
  width: 60px;
  min-width: 60px;
}

.start-button-open {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 4px;
  width: 60px;
  min-width: 60px;
  box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
}

.start-menu{
  position: absolute;
  bottom: 100%;
  left: 0;
  display: flex;
  flex-direction: row;
  background-color: #dfdfdf;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  z-index: 1;
  width: 200px;
  height: 400px;
  padding: 4px;
  overflow: visible;
}

.start-menu-logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
  width: 14%;
  background-image: linear-gradient(180deg, black, blue);
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  text-orientation: revert;
  color: white;
  padding-right: 4px;
}

.start-menu-logo span {
  margin-top: 6px;
  margin-left: 4px;
}

.start-menu-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}

.start-menu-buttons .start-menu-button {
  display: flex;
  background: #dfdfdf;
  box-shadow: none;
  padding:0;
  margin: 0;
  align-items: center;
  padding-left: 4px;
  z-index: 9999999;
  width: 100%;
}

.start-menu-buttons .start-menu-seperator {
    width: 90%;
    height: 2px;
    background-color: #dfdfdf;
    box-shadow: inset -1px -1px #dfdfdf, inset 1px 1px rgb(189, 189, 189);
    margin-right: 4px;
}

.start-menu-buttons .start-menu-button span {
  margin-left: 10px;
}

.start-menu-buttons .start-menu-button:active {
  display: flex;
  width: 100%;
  background: #dfdfdf;
  box-shadow: none;
  padding: 0;
  padding-left: 4px;
  margin: 0;
}

.start-menu-button-d {
  position: absolute;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-bottom: 4px;
  font-family: "Pixelated MS Sans Serif"
}

.start-menu-hidden{
  display: none;
}

.popup-1{
  display: flex;
  flex-direction: column;
}

.popup-1-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 100%;
}

.about-me{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.about-me .about-me-title{
  font-size: 1.4em;
  font-weight: 700;
}

.about-me .about-me-desc{
  font-size: 1em;
}

.status-bar-field{
  flex-grow: 0;
}

ul{
  margin: 0;
  padding: 0;
  padding-left: 14px;
}

li {
  list-style: square;
}

img {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.socials{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.project-link{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-link h4{
  margin: 0;
  margin-left: 10px;
}

.project-desc {
  margin-top: 10px;
}

.project-field{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

button{
  color: black;
}

.source{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.source .source-tech{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.recycle {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.recycle-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.recycle-container .top-container{
  display: flex;
  flex-direction: row;
}

.recycle-header{
  display: flex;
  flex-direction: column;
  padding: 1px;
}

.vertical-seperator{
  width: 4px;
  box-shadow: inset -1px -1px #808080, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
}

.vertical-inside {
  width: 2px;
  box-shadow: inset -1px -1px #dfdfdf, inset 1px 1px grey, inset -2px -2px #fff, inset 2px 2px #808080;
}

.file{
  display: flex;
  flex-direction: row;
  padding-bottom: 2px;
  padding-left: 2px;
  box-shadow: inset 0px -1px #808080;
}

.file button{
  padding: 0px, 2px, 0px, 2px;
  box-shadow: none;
  min-width: 0px;
  min-height: 0px;
  height: 18px;
}

.file button::first-letter{
  text-decoration:underline;
}

.file button:active{
  padding: 0px, 2px, 0px, 2px;
  box-shadow: none;
  min-width: 0px;
}

.buttons{
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 2px;
  box-shadow: inset 0px -1px #808080;
}

.buttons .nav{
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: none;
  min-width: 0;
  height: 48px;
  gap: 4px;
}

.buttons .nav:first-of-type{
  margin-left: 8px;
}

.alt{
  display: flex;
  margin-top: 16px;
}

.social-link{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.socials .status-bar .status-bar-field{
  padding: 4px;
  box-shadow: inset -1px -1px #808080, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
}

.about-me .status-bar .status-bar-field{
  padding: 4px;
  box-shadow: inset -1px -1px #808080, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
}

.address{
  display: flex;
  flex-direction: row;
  padding: 2px;
}

.address .address-content{
  display: flex;
  align-items: center;
  gap: 4px;
  padding-left: 4px;
  width: 100%;
}

.address-text::first-letter{
  text-decoration:underline;
}

.address-select{
  display: flex;
  width: 100% !important;
}

.recycle-content{
  display: flex;
  height: 200px;
  overflow-y: scroll;
  overflow-x: scroll;
}

.stories{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.story-title{
  font-size: 1.5em;
  margin-top: 6px;
}

.story-logo{
  padding: 4px;
  box-shadow: inset -1px -1px #808080, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
}

.notepad-header{
  display: flex;
  flex-direction: row;
  padding-bottom: 2px;
  padding-left: 2px;
}

.notepad-header button{
  padding-left: 6px;
  padding-right: 6px;
  box-shadow: none;
  min-width: 0px;
  min-height: 0px;
  height: 18px;
}

.notepad-header button::first-letter{
  text-decoration:underline;
}

.notepad-header button:active{
  box-shadow: none;
  min-width: 0px;
  padding-left: 6px;
  padding-right: 6px;
}

.notepad{
  padding: 0;
  margin: 0;
}

.notepad-container pre{
  overflow-y: scroll;
  overflow-x: scroll;
  height: 600px;
  padding: 4px;
}

.loading{
  display: flex;
  align-items: center;
  justify-content: center;
}